<% include ./parts/header %>
    <h2>Book Kontor</h2>
    
    <% if ( login === true )  { %>

        <section>
            <form action="/booking" method="POST" novalidate>

                <br><br>
                
                <label for="book_office">Vælg Kontor:</label>
                <select name="book_office" id="book_office" required>
                    <% results1.forEach(result => { %>
                        <option value="<%= result.id %>"><%= result.title %> | <%= result.price %>Kr</option>
                    <% }); %>
                </select><br>

                <br><br>

                <label for="booked_date">Bruges fra:</label>
                <input type="date" name="booked_date" id="booked_date" value="<%= (typeof booked_date != 'undefined') ? booked_date : '' %>" required>

                <label for="unbooked_date">til:</label>
                <input type="date" name="unbooked_date" id="unbooked_date" value="<%= (typeof unbooked_date != 'undefined') ? unbooked_date : '' %>" required>

                <br><br>

                <button type="submit" style="width:10%; padding:10px; font-size:16px;">Book</button>

                <small style="color:red; font-size:16px;"><%= (typeof errorMessage != 'undefined') ? errorMessage : '' %></small>
            </form>
        </section>

    <% } else { %>

        <p>Du skal være logget ind for at booke et kontor. <a href="/login">Log ind</a></p>

    <% } %>
    

<% include ./parts/footer %>